<p>app-commands-list-pane works!</p>
<p-table [value]="commands" dataKey="label" selectionMode="multiple">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Request type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Owners</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-instance>
    <tr [pSelectableRow]="instance">
      <td>
        <p-tableCheckbox [pSelectableRow]="instance" [value]="instance"></p-tableCheckbox>
      </td>
      <td>{{instance.requestType}}</td>
      <td>{{instance.label}}</td>
      <td>{{instance.description}}</td>
      <td>{{instance.ownerGroup}}</td>
    </tr>
  </ng-template>
</p-table>
