<style xmlns="http://www.w3.org/1999/html">
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  /* Allow keeping the toolbar on top */
  .content-scroll-container {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin-top: 60px;
    /* margin-bottom: 60px; */
    flex-direction: column;
    align-items: normal;
  }

  .content {
    padding: 16px 16px 16px 16px;
    display: flex;
    /* max-width: 960px; */
    flex-direction: column;
    align-items: normal;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  nav a {
    padding: 0.5em;
    text-decoration: none;
    display: inline-block;
    color: #3d3d3d;
    border-radius: 4px;
  }

  nav a:hover {
    color: white;
    background-color: #42545C;
  }

  nav a.active {
    background-color: #115497;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;

    margin-top: 8px;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="width: 2em;"></span>
  <span>
    <a routerLink="" style="font-size: large; color: lightblue;" [routerLinkActive]="['active']">Babysitter</a> &nbsp; <span  style="font-size: small; color: lightblue;">for commands™</span>
  </span>
  <span style="width: 2em;"></span>
  <div>
    <nav>
      <a routerLink="/commands/list" style="color: white;"
         [routerLinkActive]="['active']">Commands</a>
<!-- TODO: list commands by object, when object support is implemented. hidden until then -->
<!--      <span class="spacer"></span>-->
<!--      <a routerLink="/commands/by-object" style="color: white;"-->
<!--         [routerLinkActive]="['active']">By object</a>-->
      <span class="spacer"></span>
      <a routerLink="/executions/list" style="color: white;"
         [routerLinkActive]="['active']">Executions</a>
    </nav>
  </div>
</div>


<div class="content-scroll-container">
  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<div class="footer">
  (Placeholder footer)
  <a routerLink="all-components-up">all-components-up TEST PAGE</a>
</div>
-->
